{% extends 'bhtapt_web/index.html' %}

{% block nav %}
<nav class="navbar bg-light navbar-light">
    <a href="{% url 'appartment:dashboard' %}" class="navbar-brand mx-4 mb-3">
        <h3 class="text-primary"><i class="fa fa-hashtag me-2"></i>OMKAAR </h3>

    </a>
    <div class="d-flex align-items-center ms-4 mb-4">
        <div class="position-relative">
           
        </div>
        <div class="ms-3">
            <h6 class="mb-0">{{request.user}}</h6>
            <span>Admin</span>
        </div>
    </div>
    <div class="navbar-nav w-100">
        {% for item in menu_items %}
        <a href="{% url item.url %}" class="nav-item nav-link {% if current_url == item.url_name %}active{% endif %}">
            <i class="fa {{ item.icon }} me-2"></i>{{ item.name }}
        </a>
    {% endfor %}

        <!-- <a href="chart.html" class="nav-item nav-link"><i class="fa fa-chart-bar me-2"></i>Cash Payments</a> -->
  
  
    </div>
  </nav>
{% endblock %}

{% block content %}


<!-- Recent Sales Start -->
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-12">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">Additional Advance</h6>
                <!-- <h6 class="text-end">Booking Date : 2-01-2001</h6> -->
                <h6 class="text-end">Booking No : #00001</h6>


                
                <form method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Customer Name</label>
                        <input type="text" required name="couponcode" readonly class="form-control" id="exampleInputEmail1" value="{{booking.customer_name}}" aria-describedby="emailHelp">
                        <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.
                                    </div> -->
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Total Advance Paid </label>
                        <input type="text" required name="discount" value="{{advance}}" readonly class="form-control" id="exampleInputPassword1">
                    </div>

                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label"> Amount Due</label>
                        <input type="text" required name="discount" readonly value="{{outstanding}}"  class="form-control" id="exampleInputPassword1">
                    </div>
                 
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Additional Amount</label>
                        <input type="number" required name="additional_amount"  class="form-control" id="exampleInputPassword1">
                    </div>
                
                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    
   



        {% endblock %}