{% extends 'bhtapt_web/index.html' %}

{% block nav %}


<nav class="navbar bg-light navbar-light">
    <a href="{% url 'appartment:dashboard' %}" class="navbar-brand mx-4 mb-3">
        <h3 class="text-primary"><i class="fa fa-hashtag me-2"></i>OMKAAR </h3>

    </a>
    <div class="d-flex align-items-center ms-4 mb-4">
        <div class="position-relative">
           
        </div>
        <div class="ms-3">
            <h6 class="mb-0">{{request.user}}</h6>
            <span>Admin</span>
        </div>
    </div>
    <div class="navbar-nav w-100">
        {% for item in menu_items %}
        <a href="{% url item.url %}" class="nav-item nav-link {% if current_url == item.url_name %}active{% endif %}">
            <i class="fa {{ item.icon }} me-2"></i>{{ item.name }}
        </a>
    {% endfor %}


    </div>
</nav>
{% endblock %}

{% block content %}
<style>
    .ordercard {
        background-color: white;
        padding: 2%;
        width: 100%;
        border-radius: 13px;
    }
</style>

<!-- Recent Sales Start -->
<div class="container-fluid pt-4 px-4">
    <div class="bg-light text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">Entry ID : {{booking.id}}</h6>
               
        

            <div>
                <button class="btn btn-sm btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Change Room
                  </button>
                <a class="btn btn-sm btn-primary" href="{% url 'appartment:booking_reciept' booking.id %}">Print</a>
                {% if user.is_superuser %}
                <a class="btn btn-sm btn-success" href="{% url 'appartment:bookingedit' booking.id %}">Edit</a>
                <a class="btn btn-sm btn-danger" onclick="return confirm('Are you Sure..?')" href="{% url 'appartment:bookingdelete' booking.id %}">Delete</a>
                {% endif %}
            </div>
        </div>
        <style>
            .cname{
                font-weight: 900;
            }
            .cdet{
                font-weight: 900;
                opacity: .7;
            }
        </style>

        
        <h6 class="pb-3">BOOKING DETAILS -   <span class="text-danger">ROOM {{booking.room.room_number}} </span></h6>
        <div class="ordercard">
            <div class="row border-bottom align-items-center">

                <p class="col-6 orderdet p-2 cdet">
                    Customer
                </p>
                <p class=" col-6 orderdet p-2 cname">
                    {{booking.customer_name}}
                </p>
            </div>
            <div class="row border-bottom align-items-center">
                <p class=" col-6 orderdet p-2 cdet" >
                    Check IN Date
                </p>
                <p class="col-6 orderdet cname p-2">
                    {{booking.check_in_date}} 
                </p>
            </div>
            <div class="row border-bottom align-items-center">
                <p class=" col-6 orderdet p-2 cdet">
                    Checkout Date
                </p>
                <p class="col-6 orderdet cname p-2">
                    {% if booking.status == '3' %} {{ booking.check_out_date }} {% else %}  -- {% endif %} 
                </p>
            </div>
            <div class="row border-bottom align-items-center">
                <p class=" col-6 orderdet p-2 cdet">
                    Status
                </p>
                <p class="col-6 orderdet cname p-2 {% if booking.status == '1' %} text-warning {% elif booking.status == '2' %} text-danger {% else %} text-success {% endif %}">
                    {{booking.get_status_display}} 
                </p>
            </div>
            <div class="row border-bottom align-items-center">
                <p class=" col-6 orderdet p-2 cdet">
                    Booking Type
                </p>
                <p class="col-6 orderdet cname p-2">
                    {{booking.get_booking_type_display}} 
                </p>
            </div>

            <div class="row border-bottom align-items-center">
                <p class=" col-6 orderdet p-2 cdet">
                   Rent
                </p>
                <p class="col-6 orderdet cname p-2">
                    {{booking.rate}} 
                </p>
            </div>

            <div class="row border-bottom align-items-center">
                <p class=" col-6 orderdet p-2 cdet">
                   Mobile
                </p>
                <p class="col-6 orderdet cname p-2">
                    {{booking.mobile}} 
                </p>
            </div>

            <div class="row border-bottom align-items-center">
                <p class=" col-6 orderdet p-2 cdet">
                    Billing Address
                </p>
                <p class="col-6 orderdet cname p-2">
                    
                    {{booking.address}}
                </p>
            </div>



        </div>

        <h6 class="p-3">Reciepts</h6>
        <div class="ordercard">

            <div class="table-responsive">
                <table class="table text-start align-middle table-bordered table-hover mb-0" style="text-align: center;">
                    <thead class="text-center">
                        <tr class="text-dark " >
                            <th scope="col">Reciept No</th>
                            <th scope="col">Remark</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Status</th>
                            <th scope="col">Date</th>
                            <th scope="col">Action</th>
                           
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        {% for reciept in payments %}
    
                        <tr>
                            <td>{{ reciept.id }}</td>
                            <td>{{ reciept.narration }}</td>
                            <td>{{ reciept.amount}}</td>
                            <td>{{ reciept.get_payment_status_display}}</td>
                            <!-- <td>{{ booking.get_booking_type_display }}</td> -->
                            <td>{{ reciept.payment_date }}</td>
                            <td><a class="btn btn-sm btn-success" href="{% url 'appartment:reciept_print' reciept.id %}">Preview</a>
                                {% if user.is_superuser %}
                                <a class="btn btn-sm btn-primary" href="{% url 'appartment:reciept_edit' reciept.id %}">Edit</a>
                                <a class="btn btn-sm btn-danger"onclick="return confirm('Are you Sure..?')" href="{% url 'appartment:reciept_delete' reciept.id %}">Detete</a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            <!-- <div class="row border-bottom align-items-center">

                <div class="col-1 orderdet p-2">
                    Reciept_id
                </div>
                <div class=" col-1 orderdet p-2">

                 </div>
                <div class=" col-2 orderdet p-2">
                   Remark
                </div>
                <div class="col-2 orderdet p-2">
                    Amount
                </div>
                <div class=" col-2 orderdet p-2">
                    Action
                </div>
                
            </div>





            {% for reciept in payments %}
            <div class="row border-bottom align-items-center">

                <div class="col-1 orderdet p-2">
                    {{forloop.counter}}
                </div>
                <div class=" col-1 orderdet p-2">
                    
                  
                </div>
                <div class=" col-2 orderdet p-2">
                   <span>{{reciept.narration}}</span> 
                </div>
                <div class="col-2 orderdet p-2">
                    {{reciept.amount}}
                </div>
                <div class=" col-2 orderdet p-2">
                    {{item.quantity}}
                </div>
               
            </div> -->
            <!-- {% endfor %} -->
            <br><br>
            <div class="row border-bottom align-items-center">

                <div class="col-8 orderdet p-2">
                    
                </div>
                <div class="col-2 orderdet p-2 cname">
                 Amount Due
                </div>
                <div class=" col-2 orderdet p-2 cname">
                   {{booking.amount_due}}
                </div>
            </div>
            <div class="row border-bottom align-items-center">

                <div class="col-8 orderdet p-2">
                    
                </div>
                <div class="col-2 orderdet p-2 cname">
                    Discount
                  </div>
                  <div class=" col-2 orderdet p-2  cname">
                      OMR {{booking.discount}}
                  </div>
               
            </div>
        
            
            <div class="row border-bottom align-items-center">

                <div class="col-8 orderdet p-2">
                    
                </div>
                <div class="col-2 orderdet p-2 cname" style="color: black;">
                   Total Payable
                </div>
                <div class=" col-2 orderdet p-2 cname" style="color: black;"">
                   OMR {{booking.total_amount}}
                </div>
            </div>
        <div class="table-responsive">

        </div>
    </div>


</div>
{% csrf_token %}
<!-- Button trigger modal -->

  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Booking  </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
         <div class="row">
            <div class="col-sm-12 col-xl-12">
                <div class="bg-light rounded h-100 p-4">
                    <h6 class="mb-4">Change Room</h6>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="booking"
                            placeholder="room" readonly value="{{booking.id}}"">
                        <label for="floatingInput">Entry ID</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="current_room"
                            placeholder="room" readonly value="Room {{booking.room.room_number}}">
                        <label for="floatingInput">Current Room</label>
                    </div>
                    <div class="form-floating mb-3">
                        <select class="form-select" id="change_room"
                            aria-label="Floating label select example">
                            <option selected>Available Rooms</option>
                            {% for room in rooms %}
                            <option value="{{room.id}}">Room {{room.room_number}}</option>
                            {% endfor %}
                        </select>
                        <label for="floatingSelect">Works with selects</label>
                    </div>

                </div>
            </div>
         </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-url="{% url 'appartment:changeroom' %}" id ="chang_roombtn">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  





    {% endblock %}