{% extends 'bhtapt_web/index.html' %}
{% load custom_filters %}

{% load static %}


{% block head %}
<link rel="stylesheet" href="{% static 'css/reciept_tyle.css' %}
    <link rel=" stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<link href="{% static 'css/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
{% endblock %}

{% block nav %}

<nav class="navbar bg-light navbar-light">
  <a href="{% url 'appartment:dashboard' %}" class="navbar-brand mx-4 mb-3">
    <h3 class="text-primary"><i class="fa fa-hashtag me-2"></i>OMKAAR </h3>

  </a>
  <div class="d-flex align-items-center ms-4 mb-4">
      <div class="position-relative">
         
      </div>
      <div class="ms-3">
          <h6 class="mb-0">{{request.user}}</h6>
          <span>Admin</span>
      </div>
  </div>
  <div class="navbar-nav w-100">
    {% for item in menu_items %}
    <a href="{% url item.url %}" class="nav-item nav-link {% if current_url == item.url_name %}active{% endif %}">
        <i class="fa {{ item.icon }} me-2"></i>{{ item.name }}
    </a>
{% endfor %}

      <!-- <a href="chart.html" class="nav-item nav-link"><i class="fa fa-chart-bar me-2"></i>Cash Payments</a> -->


  </div>
</nav>
{% endblock %}

</div>
<!-- Sidebar End -->
<!-- Navbar End -->


{% block content %}
<style>
@media print {
  body {
    font-size: 10px;
  }
  hr {
    border: 1px solid black; /* This sets the color of hr to black */
    background-color: black; /* Ensures the entire line is black, not just the border */
  }

}
@media print {
  .page-break {
    page-break-before: avoid;
    page-break-after: avoid;
  }
}



@media print {
  .footer ,.back-to-top,.print{
    display: none;
  }
}

</style>
<div class="d-flex justify-content-end" >
  <button class="btn btn-primary p-3 print" style="width: 80px;" onclick="window.print()">Print</button>

</div>

<!-- Sale & Revenue Start -->
<div class="container-fluid pt-4 px-4">
  <main class="cd__main" >
    <!-- Start DEMO HTML (Use the following code into your project)-->
    <div class="container invoice" id="invoice" style="width: 100%;">
      <div class="invoice-header">
        <div class="row">
          <div class="col-xs-8">
            <h1>Booking Reciept<small></small></h1>
            <h4 class="text-muted">ENTRY No: {{booking.id}}</h4>
            <!-- <h4 class="text-muted">BILL No : {{payment.id}} </h4> -->

          </div>
          <div class="col-xs-4">
            <div class="media">
              <div class="media-left">
                <img class="media-object logo" src="{% static 'img/logo.png' %}" height="80px" width="80px" />
              </div>
              <ul class="media-body list-unstyled">
                <li><strong>OMKAAR TOURIST HOME,</strong></li>
                <li>CROSS ROAD NEAR MARIYAMMAN TEMPLE,</li>
                <li>PALAYAM, CALICUT - 673002</li>

                <li>+91 8891966916 </li>

                <li style="font-weight: 700;">GSTIN: 32BXIPT1623E1ZQ</li>

              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="invoice-body">
        <div class="row">
          
          <div class="col-xs-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Customer Details</h3>
              </div>
              <div class="panel-body d-flex">
                <dl class="dl-horizontal justify-content-between me-3">
                  <dt>Name</dt>
                  <dd>{{booking.customer_name}}</dd>
                  <dt>Room No</dt>
                  <dd>{{booking.room.room_number}}</dd>
                  <dt>Address</dt>
                  <dd>{{booking.address}}</dd>
                  <dt>Phone</dt>
                  <dd>{{booking.mobile}}</dd>
                  <dt>ID Proof</dt>
                  <dd>{{booking.get_id_proof_display}}</dd>
                  <dt>ID No</dt>
                  <dd>{{booking.id_no}}</dd>
                  <!-- <dd>&nbsp;</dd> -->
                </dl>
                <dl class="dl-horizontal justify-content-between">
                  <dt>Date Of Arrival </dt>
                  <dd>{{booking.check_in_date}}</dd>
                  <dt>Duration </dt>
                  <dd>{{booking.duration}}</dd>
                  <dt>Room Type</dt>
                  <dd class="mono">{{booking.room.category.category_name}}</dd>
                  {% if booking.status == '3' %}
                  <dt>Date Of Depature </dt>
                  <dd> {{ booking.check_out_date }}    
                  </dd>
             
                  <!-- <dt>Exp. Date Of Depature </dt>
                  <dd> {{ booking.expected_checkout_date }}    -->
                  <!-- </dd> -->
                     {% endif %} 
                  <!-- <dd>&nbsp;</dd> -->
                </dl>
                
              </div>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title" style="font-size: medium;">Services / Products</h3>
          </div>


          <table class="table table-bordered table-condensed">
            <thead>
              <tr>
                <th>SL/no</th>
                <th>Room</th>
                <th class="text-center colfix">Description</th>
                <!-- <th class="text-center colfix">Unit</th> -->
                <th class="text-center colfix">Unit</th>
                <th class="text-center colfix">Amount</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  1
                </td>
                <td>
                  {{booking.room.room_number}}
                </td>
                
                <td class="text-center">
                  <span class="mono">Room Rent</span>
            
                </td>
               
    
                <td class="text-right">
                  <span class="mono"> 1</span>
                
                </td>
                <td class="text-right">
                  <span class="mono">{{booking.rate}}</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="panel panel-default">
          <table class="table table-bordered table-condensed">
            <thead>
              <tr>
                <td class="text-center col-xs-1">Sub Total</td>
                <td class="text-center col-xs-1">Discount</td>
                <td class="text-center col-xs-1">Total</td>
                <td class="text-center col-xs-1">Advance</td>
                <td class="text-center col-xs-1">Total Amount Paid </td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th class="text-center rowtotal mono">{{booking.duration|mul:booking.rate}}</th>
                <th class="text-center rowtotal mono">- {{booking.discount}}</th>
                <th class="text-center rowtotal mono">{{booking.total_amount}}</th>
                <th class="text-center rowtotal mono">{{advance}}</th>
                <th class="text-center rowtotal mono" style="font-weight: 800;">{{amount_paid}}</th>
              </tr>
            </tbody>
          </table>
        </div>
         
        
        <div class="row">
          <div class="col-xs-7" style="height: 80px;">
            <div class="panel panel-default">
              <div class="panel-body" style="height:80px;">
                <i>Status</i>
                <hr style="margin:3px 0 5px" /> 
                   {{booking.get_status_display}}
              </div>
            </div>
          </div>
          <div class="col-xs-5" >
            <div class="panel panel-default" style="height: 100px;">
              <div class="panel-heading">
                <h3 class="panel-title">Payment Method</h3>
              </div>
              <div class="panel-body" style="height: 100px !important;">
                <h6 style="text-align: center; font-size: medium; font-weight: 900;">CASH</h6>
              </div>
            </div>
          </div>
          <div class="col-xs-6" >
            <hr width="50%">
            <p> For Binharis</p> 
             </div>
             <div class="col-xs-6" >
              <div class="div" style="text-align: right;
              display: flex;
              justify-content: flex-end;
              flex-direction: column;
              align-items: flex-end;">
                <hr width="50%" style="font-weight: bolder; color: black !important;background-color: black !important; 
                height: 1px;
                border: 2;">
                <p>Customer Signature</p> 
              </div>
        </div>


      </div>
      <div class="invoice-footer">
        Thank you for choosing our services.,We hope to see you again soon.
        <strong>~Omkaar Tourist Home~</strong>
      </div>
    </div>
    <!-- END EDMO HTML (Happy Coding!)-->
  </main>


</div>

<script>
  function printinvoice(){
    $('.navbar').hide()

    window.print()
  }
</script>

<!-- Widgets End -->
{% endblock %}

{% block bodyend %}

<script src="{% static 'js/jspdf.debug.js' %}"></script>
<script src="{% static 'js/html2canvas.min.js' %}"></script>
<script src="{% static 'js/html2pdf.min.js' %}"></script>

{% endblock %}




























