{% extends 'bhtapt_web/index.html' %}

{% load custom_filters %}

{% block nav %}


<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
<style>
    @media print {
  .footer ,.back-to-top,.navbar,.items,.btn{
    display: none;
  }
}
</style>

<nav class="navbar bg-light navbar-light">
    <a href="{% url 'appartment:dashboard' %}" class="navbar-brand mx-4 mb-3">
        <h3 class="text-primary"><i class="fa fa-hashtag me-2"></i>Bin Hariz</h3>
    </a>
    <div class="d-flex align-items-center ms-4 mb-4">
        <div class="position-relative">
           
        </div>
        <div class="ms-3">
            <h6 class="mb-0">{{request.user}}</h6>
            <span>Admin</span>
        </div>
    </div>
    <div class="navbar-nav w-100">
        {% for item in menu_items %}
        <a href="{% url item.url %}" class="nav-item nav-link {% if current_url == item.url_name %}active{% endif %}">
            <i class="fa {{ item.icon }} me-2"></i>{{ item.name }}
        </a>
    {% endfor %}


        <!-- <a href="chart.html" class="nav-item nav-link"><i class="fa fa-chart-bar me-2"></i>Cash Payments</a> -->


    </div>
</nav>
{% endblock %}

{% block content %}
<div class="container-fluid pt-4 px-4">

    <select class="form-select mb-3" aria-label="Default select example" id="accountSelect" name="account">
        <option value="" selected>Select Report</option>
        {% for report in report_items %}
        <option value="{{ report.value }}" {% if reporting == report.value %} selected {% endif %}> {{ report.name }}</option>
        {% endfor %}
        <!-- <option value="outstanding">Outstanding Report</option> -->

    </select>
    
    <script type="text/javascript">
        document.getElementById('accountSelect').addEventListener('change', function() {
            var reportvalue = this.value
            if (reportvalue === 'outstanding') {
                window.location.href = "{% url 'appartment:outstanding' %}";
            } else if (reportvalue) {
                window.location.href = "{% url 'appartment:reports' %}?report=" + reportvalue;
            }
        });
    </script>
    
    
    {% if reporting %}
    <div class="bg-light text-center rounded p-4">
        <div class="items">
        <label for=""> START DATE </label>&nbsp;
        <input type="date" id="start_date" class="'class': 'form-control'," style="width: 100x;"> &nbsp;
          <label for=""> END DATE</label>&nbsp;
            <input type="date" id="end_date" class="'class': 'form-control'," style="width: 100x;">
            <a id="filter_btnr" data-url="{% url 'appartment:reports' %}?report={{reporting}}" class="btn btn-primary ms-2">Filter</a>  <a href="{% url 'appartment:reports' %}?report={{reporting}}" class="btn btn-danger ms-2">All</a>  <a  class="btn btn-warning ms-2" onclick="window.print()">Print</a> 
            <a id="blhide" class="btn btn-success ms-2">Balance Hide</a> 
            <a id="blshow" style="display: none;" class="btn btn-success ms-2 ">Balance Show</a> 


    </div>
   

        <div class="table-responsive">
            <h6 class="text-dark p-4">{{Report_Name}}  from {{starting_date}} to {{ending_date}} </h6>
        <!-- <h6  class="text-end p-3">Opening Balance: <span class="text-danger">{{ opening_balance }}</span> </h6> -->




            <table class="table text-start align-middle table-bordered table-hover mb-0" style="text-align: center;">
                <thead class="text-center">
                    <tr class="text-dark " >
                        <th scope="col">SL No</th>
                        <th scope="col">Entry No</th>
                        <th scope="col">Reciept No</th>
                        <th scope="col">Date</th>
                        <th scope="col">Customer Name</th>
                        <th scope="col">Amount</th>
        

                    </tr>
                </thead>
                <tbody class="text-center">
                    <tr class="balance">
                        <th colspan="5" class="text-danger">Opening Balance</th>
                        <!-- <td></td>
                        <td></td>
                        <td></td>
                        <td></td> -->
                        
                        <td><b class="text-danger">{{opening_balance}}</b></td>
                        <!-- <td>{{closing_balance}}</td> -->



                    </tr>
                  
                    {% for report in reports %}

                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ report.booking.id }}</td>
                        <td>{{ report.id}}</td>
                        <td>{{ report.payment_date}}</td>
                        <td>{{ report.booking.customer_name}}</td>
                        <td>{{ report.amount}}</td>

                    </tr>
                    {% endfor %}
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <th></th>
                        <th>Total Amount</th>
                        <th>{{total_amount}}</th>
                        

                    </tr>
                    <tr class="balance">
                        <th colspan="5" class="text-danger">Closing Balance</th>
                        <!-- <td></td>
                        <td></td>
                        <td></td>
                        <td></td> -->
                        <!-- <td></td>
                        <td></td> -->
                        
                        <td><b class="text-danger">{{closing_balance}}</b></td>



                    </tr>
                </tbody>
            </table>
            <!-- <h6 class="text-end p-3">Closing Balance: <span class="text-danger">{{ closing_balance }}</span> </h6> -->
        </div>
    </div>
</div>
{% endif %}


    {% endblock %}